{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>{% block title %}mooq{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'vendor/semantic/semantic.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="{% static 'vendor/semantic/semantic.min.js' %}"></script>
        <script type="text/javascript" src="//cdn.pubnub.com/pubnub-dev.js"></script>
        <script type="text/javascript">

        var pubnub = PUBNUB.init({
            publish_key: 'pub-c-b0729086-9a78-4ebc-b04f-f87bd208d0fe',
            subscribe_key: 'sub-c-4daa87ec-5f9d-11e5-bc11-0619f8945a4f'
        });

        </script>
        {% block styles %}{% endblock %}
        {% block pre_scripts %}{% endblock %}
    </head>
    <body class="pushable">
        {% block content %}{% endblock %}
        <script type="text/javascript" src={% static 'js/main.js' %}></script>
        {% block post_scripts %}{% endblock %}
    </body>
</html>