body {
    height: 100%;
}

body > #app{
    height: 100%;
}

body > #app > #main {
    height: 100%
}

.ui.form textarea {
    resize: none;
}

#main > .full.height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
}

.overflow_ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


#profile-container {
    position: relative;
    z-index: 1;
    background-color: rgba(39, 56, 72, 1);
    width: 250px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 0;
    border-width: 0 1px 0 0;
    border-right: 1px solid rgba(39,56,72,.15);
    color: #ffffff;
}

.profile-menu {
    width: 250px !important;
    border-width: 0 1px 0 0 !important;
    box-shadow: none !important;
    overflow: hidden;
    will-change: transform !important;
    background-color: rgba(39, 56, 72, 1) !important;
    color: #ffffff !important;
    padding: 10px !important;
}

.profile-menu .ui.list {
    margin-bottom: 3rem !important;
}

.profile-menu .ui.header {
    color: #ffffff !important;
    margin-bottom: 5px !important;
}
.profile-menu .item {
    color: #ababab !important;
    padding: 5px 0 !important;
    font-size: 1rem !important;
}

.profile-menu .item.unread {
    font-style: italic;
    font-weight: 900;
    color: white !important;
}

#avatar {
    margin-bottom: 30px;
    height: 60px;
    line-height: 60px;
}

#avatar > span.username{
    font-size: large;
}

#avatar > .icon {
    float: right;
    font-size: large;
}

#messages-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0px;
    background-color: #eaeaea;
    position: relative;
}

#messages-container > #header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#messages-container .ui.top.fixed.menu {
    background-color: #eaeaea;
    font-size: 2rem;
    position: absolute;
}

#messages-container .ui.menu .item:before {
    width: 0px;
}

#messages-container .ui.header {
    color: #585252;
}

#messages-container > .channel {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: -1;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    -o-transition: opacity 200ms ease-in;
    -ms-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
}

#messages-container > .channel.active {
    opacity: 1;
    z-index: 1;
}

#messages-container > .channel > .messages {
    position: absolute;
    padding: 0 0 0 32px;
    top: 85px;
    bottom: 78px;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: -1;
}

#messages-container > .channel > .footer {
    bottom: 0px;
    position: absolute;
    right: 0;
    left: 0px;
    padding: 10px 15px 10px 32px;
    background-color: #eaeaea;
    z-index: 2;
}

@media only screen and (max-width: 1145px) {
    #profile-container  {
        display: none;
    }

    #messages-container > #footer {
        left: 0px;
    }
}

@media only screen and (min-width: 1144px) {
    .mobile-menu {
        display: none !important;
    }
}