body {
    height: 100%;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
}

.ui.header {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
}

body > #app{
    height: 100%;
}

#app > #app-entry {
    height: 100%;
}

body > #app > #main {
    height: 100%
}

.hidden {
    visibility: hidden;
}

input.borderless {
    border: none !important;
    border-color: transparent !important;
    outline: none;
}

button.ui.button.borderless {
    border: none !important;
    box-shadow: none !important;
}

.ui.form textarea {
    resize: none !important;
}

.search-container {
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-grid {
    margin-top: 120px !important;
}

.search-grid > .input-symbol {
    font-size: 60px;
    width: 100%;
    margin-top: 25px !important;
}

.search-grid > .header {
    width: 100%;
    margin-bottom: 20px !important;
    letter-spacing: 2px;
}

.search-grid > .input-symbol > i.icon {
    padding: 0px;
    color: #808080;
}

.search-grid > .input-symbol > input.borderless {
    height: 60px;
    margin-top: -18px;
}

.search-grid span.hidden {
    position: absolute;
    top: 0px;
}

.no-results {
    margin-top: 12px;
    font-size: 20px;
    color: #CCCCCC;
}

.search-bottom {
    bottom: 3%;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.search-bottom > .ui.button {
    margin: 0 auto;
}

.login {
    height: 100%;
}

.login .image {
    margin-top: -100px;
}
.login .column {
    max-width: 450px;
    min-width: 400px;
}

.login .header {
    color: white !important;
}

.login .piled.segment {
    margin-top: 0em !important;
}

.ui.comments>.comment>.avatar img {
    border-radius: .4rem !important;
}

.ui.button.navy {
   background: rgba(39, 56, 72, 1);
   color: #fff;
}

.ui.button.navy:hover {
    background: rgba(39, 56, 72, .8);
    color: #fff;
}

.ui.button.navy:active {
    background: rgba(39, 56, 72, .8);
    color: #fff;
}

.background {
    background: rgba(39, 56, 72, 1);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#index > .container {
    text-align: center;
}

#index > .container > .logo{
    height: 20rem;
    text-align: center;
    color: white;
    margin: 10rem 0 2.5rem 0;
}

#index > .container > .description {
    color: #fff;
    font-size: 2.5rem;
}

#index > .container > .search-segment {
    width: 60%;
    margin: 7rem auto 0 auto;
    padding: 30px 50px;
}

#index > .top.menu {
    background: transparent;
    box-shadow: none;
    border: 0px;
    height: 80px;
}

#index > .top.menu > .item {
    border: 0px;
    box-shadow: none;
}

#index > .top.menu > .item:before {
    width: 0px;
}

#index > .top.menu > .item > button {
    margin-right: 1.5rem;
}

#index > .top.menu > .item > button:last-child {
    margin-right: 1rem;
}

#main > .full.height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
}

.overflow_ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


#profile-container {
    position: relative;
    z-index: 3;
    background-color: rgba(39, 56, 72, 1);
    width: 250px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 0;
    border-width: 0 1px 0 0;
    border-right: 1px solid rgba(39,56,72,.15);
    color: #ffffff;
}

.profile-menu {
    width: 250px !important;
    border-width: 0 1px 0 0 !important;
    box-shadow: none !important;
    overflow: hidden;
    will-change: transform !important;
    background-color: rgba(39, 56, 72, 1) !important;
    color: #ffffff !important;
    padding: 10px !important;
    height: 100%;
    position: absolute;
    padding: 0px !important;
}



.profile-menu .ui.list {
    margin-bottom: 1rem !important;
    padding: 0px;
}

.profile-menu .ui.header {
    color: #ffffff !important;
    margin-bottom: 5px !important;
    padding: 0px 35px !important;
}
.profile-menu .item {
    color: #848383 !important;
    padding: 7px 35px !important;
    font-size: 1rem !important;
}

.profile-menu .item a {
    color: #848383 !important;
}

.profile-menu .item.unread {
    font-style: bold;
    font-weight: 900;
    color: white !important;
}

.profile-menu .item.unread a {
    color: white !important;
}

.profile-menu .item:hover {
    background: #17252D !important;
}

.profile-menu .item.active {
    color: white !important;
    background: #714A3C !important;
}

.profile-menu .item.active a {
    color: white !important;
}

.profile-menu .item:hover > .remove_icon {
    visibility: visible;
    transition: all 0.2s;
}

.remove_icon {
    visibility: hidden;
    transition: all 0.2s;
}

.profile-menu .top-list .item.active {
    color: #848383 !important;
    padding: 7px 35px !important;
    font-size: 1rem !important;
    background: transparent !important;
}

.profile-menu .top-list .item:hover {
    background: #17252D !important;
}

.profile-menu .top-list .item.active .minus.icon {
    color: #848383 !important;
}

.profile-menu .top-list .item.unread {
    color: #848383 !important;
    font-size: 1rem !important;
}

.profile-menu .top-list .item a {
    color: #848383 !important;
}

.profile-menu .top-list .item > .remove_icon {
    visibility: hidden;
}

.profile-menu .search-link {
    text-decoration: underline !important;
    font-style: italic;
}

.profile-menu .top-list .item.search-link a {
    color: #D0D0D0 !important;
}

.link.icon {
    cursor: pointer;
}

.link.icon:hover {
    opacity: 0.5
}

.logo {
    height: 100px;
    text-align: center;
    color: white;
    margin: .3em 0 .3em 0;
}

.logo > img {
    height: 84%;
}

.channel-icon {
    float: left !important;
    color: #848383 !important;
    margin: 3px 10px 0 0px !important;
    font-size: 0.75rem !important;
}

.active .channel-icon, .unread .channel-icon {
    color: white !important;
}

#avatar {
    bottom: 0px;
    height: 4rem;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 0px;
}

#avatar > .dropdown {
    width: 100%;
    height: 100%;
    padding: 0px;
}

#avatar > .dropdown >.ui.avatar.image {
    width: 3rem;
    height: 3rem;
    float: left;
    margin-left: 2.2em;
    margin-right: 1em;
}

#avatar > .dropdown > span.username{
    line-height: 3rem;
    float: left;
    margin-right: 1em;
    font-size: 1.1rem;
}

#avatar > .dropdown > .icon {
    line-height: 3rem;
    float: left;
    font-size: 1.1rem;
}

#avatar > .dropdown > .menu {
    left: 0px;
    bottom: 130%;
    width: 100%;
    border-radius: 0px;
}

#messages-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0px;
    background-color: #eaeaea;
    position: relative;
}

#messages-container > #header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#messages-container .ui.top.fixed.menu {
    background-color: #eaeaea;
    font-size: 2rem;
    position: absolute;
}

#messages-container .ui.menu .item:before {
    width: 0px;
}

#messages-container .ui.header {
    color: #373738;
    font-weight: 100;
}

#messages-container > .channel {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: -1;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    -o-transition: opacity 200ms ease-in;
    -ms-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
}

#messages-container > .channel.active {
    opacity: 1;
    z-index: 1;
}

#messages-container > .channel > .messages {
    position: absolute;
    padding: 0 0 0 32px;
    top: 85px;
    bottom: 78px;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: -1;
}

#messages-container > .channel > .footer {
    bottom: 0px;
    position: absolute;
    right: 0;
    left: 0px;
    padding: 10px 15px 10px 32px;
    background-color: #eaeaea;
    z-index: 2;
}

.here_now {
    cursor: pointer;
}

.here_now:hover {
    opacity: .8;
}

.mobile-menu {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    color: rgba(0,0,0,.7);
    font-weight: 400;
    -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    height: 80px;
    width: 88px;
    cursor: pointer;
    font-size: 2rem;
}

.mobile-menu:hover {
    opacity: 1;
    color: rgba(0,0,0,1);
}

@media only screen and (max-width: 1145px) {
    #profile-container  {
        display: none;
    }

    #messages-container > #footer {
        left: 0px;
    }

    #index > .container > .logo{
        height: 10rem;
        text-align: center;
        color: white;
        margin: 10rem 0 2.5rem 0;
    }

    #index > .container > .description {
        color: #fff;
        font-size: 1.5rem;
    }

    #index > .container > .search-segment {
    width: 100%;
    margin: 7rem auto 0 auto;
    padding: 30px 50px;
}
}

@media only screen and (min-width: 1144px) {
    .mobile-menu {
        display: none !important;
    }
}