body {
    height: 100%;
}

body > #main {
    height: 100%;
}

.ui.form textarea {
    resize: none;
}

#main > .full.height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
}

.overflow_ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


#profile-container {
    position: relative;
    z-index: 1;
    background-color: rgba(39, 56, 72, 1);
    width: 250px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 0;
    border-width: 0 1px 0 0;
    border-right: 1px solid rgba(39,56,72,.15);
    color: #ffffff;
}

@media only screen and (max-width: 1144px) {
    #profile-container  {
        display: none;
    }
}

#profile-menu {
    width: 250px;
    border-width: 0 1px 0 0;
    box-shadow: none;
    overflow: hidden;
    will-change: transform;
    background-color: rgba(39, 56, 72, 1);
    color: #ffffff;
    padding: 10px;
}

#profile-menu .ui.list {
    margin-bottom: 3rem;
}

#profile-menu .ui.header {
    color: #ffffff;
    margin-bottom: 5px;
}
#profile-menu .item {
    color: #ababab;
    padding: 5px 0;
    font-size: 1rem;
}

#avatar {
    margin-bottom: 30px;
    height: 60px;
    line-height: 60px;
}

#avatar > span.username{
    font-size: large;
}

#avatar > .icon {
    float: right;
    font-size: large;
}

#messages-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0px;
    background-color: #eaeaea;
    position: relative;
}

#messages-container .ui.top.fixed.menu {
    background-color: #eaeaea;
    font-size: 2rem;
    position: absolute;
}

#messages-container .ui.menu .item:before {
    width: 0px;
}

#messages-container .ui.header {
    color: #585252;
}

#messages-container > #messages {
    padding: 0 0 0 32px;
    position: absolute;
    top: 81px;
    bottom: 61px;
    left: 0;
    right: 0;
    overflow: auto;
}

#messages-container > #footer {
    height: 61px;
    bottom: 0px;
    position: fixed;
    right: 0px;
    left: 250px;
    padding: 10px 5px 10px 32px;
    background-color: #eaeaea;
}

